* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Primary Colors */
    --light-red: hsl(0, 100%, 67%);
    --orange-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    /* Neutral Colors */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);

    /* Gradients colors*/
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);

    --violet-blue: hsla(256, 72%, 46%, 1);
    --persion-blue: hsla(241, 72%, 46%, 0);

    /* font size*/
    --font-size-base: 18px;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: var(--font-size-base);
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    background-color: var(--white);
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Result Section */

.results {
    display: grid;
    justify-content: center;
    color: var(--white);
    text-align: center;
    background: linear-gradient(to bottom, var(--light-slate-blue), var(--light-royal-blue));
    border-radius: 2rem;
    max-width: 450px;
    flex: 1;
    
}

.results-title {
    color: var(--light-lavender);
    font-size: 24px;
    font-weight: 700;
    margin-block: 2rem;
}

.score {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    color: var(--white);
    background: linear-gradient(to bottom, var(--violet-blue), var(--persion-blue));
    display: grid;
    place-content: center;
    justify-self: center;
    padding: 2rem;
    margin-bottom: 1rem;
    line-height: 1;
}

.score > p:nth-child(1) {
    font-size: 72px;
    font-weight: 800;
}

.score > p:nth-child(2) {
    color: var(--light-lavender);
    opacity: 0.6;
}

.text-content {
    padding: 0 3.5rem 3rem;
}

.text-content-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.text-content > p:nth-child(2) {
    color: var(--light-lavender);
}

/* Summary Section */

.summary {
    flex: 1;
}

.summary-title {
    font-size: 24px;
    font-weight: 700;
    padding: 2rem 2.5rem;
}

.summary-list {
    padding: 0 2.5rem;
    display: grid;
    align-items: center;
    gap: 1rem;
}

.summary-list-item {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 800;
    padding: 0.8rem;
    border-radius: 10px;
}

.summary-list-item.reaction {
    background-color: hsla(0, 100%, 67%, 0.07);
}

.summary-list-item.reaction p{
    color: var(--light-red);
}

.summary-list-item.memory {
    background-color: hsla(39, 100%, 56%, 0.07);
}

.summary-list-item.memory p{
    color: var(--orange-yellow);
}

.summary-list-item.verbal {
    background-color: hsla(166, 100%, 37%, 0.07);
}

.summary-list-item.verbal p{
    color: var(--green-teal);
}

.summary-list-item.visual {
    background-color: hsla(234, 85%, 45%, 0.07);
}

.summary-list-item.visual p{
    color: var(--cobalt-blue);
}

.summary-item-left {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.summary-item-right {
    color: #aaaaaa;
}

.summary-item-right > span {
    color: black;
}

.continue-btn-container {
    padding: 3rem 2.5rem;
}

.continue-btn-container > button {
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 2rem;
    background: none;
    border: none;
    color: var(--white);
    background-color: var(--dark-gray-blue);
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.continue-btn-container > button:hover {
    background: linear-gradient(to bottom, var(--light-slate-blue), var(--light-royal-blue));
}

/* MEDIA QUERIES */

/* Tablet */
@media (max-width: 768px) {
    body {
        font-size: 11px;
    }

    .card {
        border-radius: 1rem;
    }

    .results {
        max-width: 250px;
        border-radius: 1rem;
    }

    .results-title {
        font-size: 17px;
        margin-block: 1rem;
    }

    .score {
        width: 100px;
        height: 100px;
        padding: 1rem;
        margin-bottom: 0.5rem;
    }

    .score > p:nth-child(1) {
        font-size: 36px;
    }

    .text-content {
        padding: 0 1.75rem 1.5rem;
    }

    .text-content-title {
        font-size: 18px;
        margin-bottom: 0.25rem;
    }

    .summary-title {
        font-size: 17px;
        padding: 1rem 1.25rem;
    }

    .summary-list {
        padding: 0 1.25rem;
        align-items: center;
        gap: 0.5rem;
    }

    .summary-list-item {
        padding: 0.4rem;
        border-radius: 5px;
    }

    .summary-item-left {
        gap: 0.4rem;
    }

    .summary-item-left > svg {
        width: 10px;
        height: 10px;
    }

    .continue-btn-container {
        padding: 1.5rem 1.25rem;
    }
    
    .continue-btn-container > button {
        padding: 0.5rem 1rem;
        font-size: 11px;
    }
}

/* Phone */
@media (max-width: 576px) {
     .card {
        display: block;
        min-width: 100vw;
        min-height: 100vh;
        border-radius: 0;
    }

    .results {
        min-width: 100%;
        border-radius: 0 0 2rem 2rem;
    }

    .score {
        width: 125px;
        height: 125px;
        padding: 1.5rem;
        margin-bottom: 0.7rem;
    }

    .score > p:nth-child(1) {
        font-size: 44px;
    }

    .text-content {
        padding: 0 3.5rem 2rem;
    }

    .text-content-title {
        font-size: 22px;
        margin-bottom: 0.25rem;
    }

    .text {
        font-size: 14.5px;
    }

    .summary {
        font-size: 14px;
    }

    .summary-title {
        font-size: 17px;
        padding: 1rem 2rem;
    }

    .summary-item-left > svg {
        width: 20px;
        height: 20px;
    }

    .summary-list {
        padding: 0 2rem;
        gap: 1rem;
    }
    
    .summary-list-item {
        padding: 0.75rem;
    }

    .continue-btn-container {
        padding: 1rem 2rem;
    }
    
    .continue-btn-container > button {
        font-size: 15px;
        padding: 1rem 2rem;
    }
    
}
